.wrapper{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%
}

body {
    /*height: 100%;
    width: 100%;*/
    background-image: linear-gradient(#6999bb 10%,#cee5f2 90%);
}

.homeButton {
    width: 90%;
    margin-left: 5%;
    height: 20vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
    text-align: center;
    padding: 0px;
    border-radius: 20px;
    border-width: 7px;
    border-color: #192b4b;
    color: #192b4b;
    background-color: #192b4b00;
}

.homeButton:hover {
    background-color: #192b4b;
    color: #accbe1;
}

.homeLink:hover {
    text-decoration: none;
}

header {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

html {
    margin: 0px;
    padding: 0px;
}

.homeButtonText {
    font-size: 10vh;
}

.homeCardBody {
    padding: 3vh;
}

.scrollArrow {
    float: right;
}

.column2 {
    padding: 0px;
}