.wrapper{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%
}

body {
    /*height: 100%;
    width: 100%;*/
    background-image: linear-gradient(#6999bb,#cee5f2);
}

.homeButton {
    width: 90%;
    margin-left: 5%;
    height: 20vh;
    margin-top: 20vh;
    margin-bottom: 20vh;
    text-align: center;
    padding: 0px;
    border-radius: 20px;
    border-width: 7px;
    border-color: #192b4b;
    color: #192b4b;
    background-color: #192b4b00;
}

.homeButton:hover {
    background-color: #192b4b;
    color: #accbe1;
}

.homeLink:hover {
    text-decoration: none;
}

header {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

html {
    margin: 0px;
    padding: 0px;
}

.homeButtonText {
    font-size: 10vh;
}

.homeCardBody {
    padding: 3vh;
}

.scrollArrow {
    float: right;
}

.column2 {
    padding: 0px;
}

.nav {
    height: 30px;
    width: 100%;
}

.fa-cog {
    font-size: 25px;
    margin: 5px;
    color: #192b4b;
}

.logoutButton {
    font-size: 20px;
    padding: 5px;
    color: #192b4b;
    float: right;
    text-align: right;
}

.info {
    background-color: #ebf3ff29;
    box-shadow: 0px 0px 6px #ebf3ff29;
    border-radius: 10px;

}

.column2 {
    background-color: #ebf3ff29;
    box-shadow: 0px 0px 6px #ebf3ff29;
    border-radius: 10px;
    padding: 5px;
}

.fivePad {
    padding: 5px;
}

@media only screen and (min-width: 720px){
 
    .info {
        margin-right: 5%;
    }

    .bigNumber {
        font-size: 160%;
    }

    .bigNumberText {
        font-size: 250%;
    }
     
}

@media only screen and (max-width: 720px){

    .bigNumber {
        font-size: 135%;
    }

    .bigNumberText {
    
    }
     
}

.bigNumber {
    text-align: center;
    margin: auto;
    color: #010102;

}

.approxMl {
    text-align: center;
    margin: auto;
}